{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-typescript", { "onlyRemoveTypeImports": true }],
    "@babel/preset-react"
  ],
  "plugins": [
      ["@babel/proposal-object-rest-spread"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "babel-plugin-parameter-decorator",
      ["@babel/plugin-transform-flow-strip-types"],
    ["@babel/plugin-proposal-class-properties", { "loose": true}],
      ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ]
}
